@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");

:root {
  --base: #048a81;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  max-width: 600px;
}

.highlight {
  color: var(--base);
}

body {
  text-align: center;
  background: #93b7be;
  color: #2d3047;
  font-family: 'Germania One', cursive;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

footer {
  font-size: 12px;
  color: #fff;
  bottom: 0;
  text-align: left;
}

a {
  color: #fff;
}